<div class="container center" *ngIf="channel != null">

  <h5 class="title is-4"> Channel {{ channel.address }}</h5>
  
    <p>Address: {{channel.address}}</p>
    <p>Value: {{channel.value}}</p>
    <br>
    <p>Near End: {{channel.nearEnd}}</p>
    <p>Near End Value: {{channel.nearEndValue}}</p>
    <p>Far End: {{channel.farEnd}}</p>
    <p>Far End Value: {{channel.farEndValue}}</p>
    <br>
    <p>End Date: {{channel.endDate}}</p>
    <p>Id: {{channel.id}}</p>
    <br>
    <p>Accepted: {{channel.accepted}}</p>
    <p>Closed: {{channel.closed}}</p>
    <br>
    <div *ngFor="let index of channel.rsShowed" class="alert alert-info">
      Hash locked transaction
      <p>Random: {{channel.randoms[index]}}</p>
      <p>Hash: {{channel.hashes[index]}}</p>
      <div *ngIf="channel.ttls[index]">
        <p>TTL: {{channel.ttls[index]}}</p>
        <p>Value: {{channel.rhvals[index]}}</p>
        <p *ngIf="account.address.toLowerCase() == channel.nearEnd.toLowerCase() && channel.direction[index] == 0">Direction: I'm the receiver</p>
        <p *ngIf="account.address.toLowerCase() == channel.nearEnd.toLowerCase() && channel.direction[index] == 1">Direction: I'm the sender</p>
        <p *ngIf="account.address.toLowerCase() == channel.farEnd.toLowerCase() && channel.direction[index] == 1">Direction: I'm the receiver</p>
        <p *ngIf="account.address.toLowerCase() == channel.farEnd.toLowerCase() && channel.direction[index] == 0">Direction: I'm the sender</p>
      </div>
      
    </div>

    <br>

    <div *ngIf="account.address.toLowerCase() == channel.farEnd.toLowerCase() && !channel.accepted">
    
      <h5 class="title is-4">Accept channel</h5>
      <h5 class="title is-5 is-info help">{{status}}</h5>
    
      <form #acceptForm="ngForm" class="form-inline">
    
        <div class="field margin">
          <p class="control">
            <input [(ngModel)]="acceptAmount" name="acceptAmount" class="input" type="text" placeholder="1 Ether" required #acceptAmountModel="ngModel">
          </p>
        </div>
    
        <div class="field is-grouped margin">
          <p class="control">
            <button [disabled]="!acceptForm.valid" (click)="acceptChannel()" class="button is-primary">
              Accept channel
            </button>
          </p>
        </div>

        <div *ngIf="acceptAmountModel.errors && (acceptAmountModel.dirty || acceptAmountModel.touched)" class="help is-danger margin">
          <p [hidden]="!acceptAmountModel.errors.required">
            This field is required
          </p>
        </div>
        <div *ngIf="!acceptAmountModel.errors && (acceptAmountModel.dirty || acceptAmountModel.touched)" class="help is-danger margin">
          <p [hidden]="enoughEther(acceptAmount)">
            Must have enough ether and a number
          </p>
        </div>

      </form>
    </div>
    
    <h5 class="title is-5 is-info help">{{status_more}}</h5>
    <button (click)="goUpdate()" class="button is-primary but" *ngIf="now <=channel.endDate.getTime() && channel.accepted && !channel.closed"> Upload state </button>
    <button *ngIf="now <= (channel.endDate.getTime() + 1000*3600*24) && now >= channel.endDate.getTime() && channel.accepted  && !channel.closed" (click)="goDispute()" class="button is-primary"> 
      Dispute state 
    </button>
    <button (click)="closeChannel()" class="button is-primary but" *ngIf="now <=( channel.endDate.getTime() + 1000*3600*24) && channel.accepted && !channel.closed">
          Close channel </button>
    <button (click)="unlockFunds()" class="button is-primary but" *ngIf="now >=( channel.endDate.getTime() + 1000*3600*24) && !channel.closed">
      Unlock funds </button>

    <button (click)="goBack()" class="button is-primary"> Go Back </button>
      
</div>
