<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Angular6 + Truffle Dapp
      </h1>
      <h4 class="title">
        Near end {{near}} has
        <span class="is-medium has-underline">{{nearBalance}}</span> Ether
      </h4>
      <br>
      <h4 class="title">
        Far end {{far}} has
        <span class="is-medium has-underline">{{farBalance}}</span> Ether
      </h4>
    </div>
  </div>
</section>

<br>

<div class="container padd">
  
  <h1 class="title">Create channel</h1>
  <h1 class="title is-4 is-info help">{{status}}</h1>

  <form #channelForm="ngForm">

    <div class="field">
      <label class="label">Amount</label>
      <p class="control">
        <input [(ngModel)]="createAmount" class="input" type="text" placeholder="1 Ether" name="createAmount" required #createAmountModel="ngModel">
      </p>
      <div *ngIf="createAmountModel.errors && (createAmountModel.dirty || createAmountModel.touched)" class="help is-danger">
        <p [hidden]="!createAmountModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!createAmountModel.errors && (createAmountModel.dirty || createAmountModel.touched)" class="help is-danger">
        <p [hidden]="enoughEther(createAmount)">
          Must have enough ether and a number
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Destinatary</label>
      <p class="control">
        <input [(ngModel)]="recipientAddress" name="recipientAddress" class="input" type="text" placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
          required #recipientAddressModel="ngModel">
      </p>
      <div *ngIf="recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)" class="help is-danger">
        <p [hidden]="!recipientAddressModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)" class="help is-danger">
        <p [hidden]="canBeAddress(recipientAddress)">
          Must be address format
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Days open</label>
      <p class="control">
        <input [(ngModel)]="daysOpen" name="daysOpen" class="input" type="text" placeholder="30 days" required #daysOpenModel="ngModel">
      </p>
      <div *ngIf="daysOpenModel.errors && (daysOpenModel.dirty || daysOpenModel.touched)" class="help is-danger">
        <p [hidden]="!daysOpenModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!daysOpenModel.errors && (daysOpenModel.dirty || daysOpenModel.touched)" class="help is-danger">
        <p [hidden]="canBeDays(daysOpen)">
          Must be in days format
        </p>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button [disabled]="!channelForm.valid" (click)="createChannel()" class="button is-primary">
          Create channel
        </button>
      </p>
    </div>
  </form>

  <div class="container" *ngIf="channelInfo != null">
    <h1 class="title">Channel Information</h1>
    <p>Address: {{channelInfo.address}}</p>
    <p>Near End: {{channelInfo.nearEnd}}</p>
    <p>Far End: {{channelInfo.farEnd}}</p>
    <p>Value: {{channelInfo.value}}</p>
    <p>End date: {{channelInfo.endDate}}</p>
  </div>

  <strong>Hint:</strong> open the browser developer console to view any errors and warnings.

</div>


