
<div class="hero-body blue">
  <div class="container">
    <h1 class="title is-1 fixed">
      <b>Seths Network</b>
    </h1>
    <button (click)="navigateNotifications()" class="button rel is-warning">
      Notifications {{totalNotifications}}
    </button>
    <img src="assets/índice.png" (click)="navigateConfig()" class="config">
  </div>
</div>

<br>

<!-- ng tag to define the space to be occupied by the component defined in routing module at root level of the app -->
<router-outlet></router-outlet>

<br>

