<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Angular6 + Truffle Dapp
      </h1>
      <h6 class="title" *ngFor="let acc of accounts">
        {{acc.address}} has
        <span class="is-medium has-underline">{{acc.balance}}</span> Ether
      </h6>
    </div>
  </div>
</section>

<br>

<div class="container padd">

  <h1 class="title">Create channel</h1>
  <h1 class="title is-4 is-info help">{{status_create}}</h1>

  <form #channelForm="ngForm">
  
    <div class="field">
      <label class="label">Amount</label>
      <p class="control">
        <input [(ngModel)]="createAmount" class="input" type="text" placeholder="1 Ether" name="createAmount" required #createAmountModel="ngModel">
      </p>
      <div *ngIf="createAmountModel.errors && (createAmountModel.dirty || createAmountModel.touched)" class="help is-danger">
        <p [hidden]="!createAmountModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!createAmountModel.errors && (createAmountModel.dirty || createAmountModel.touched)" class="help is-danger">
        <p [hidden]="enoughEther(createAmount)">
          Must have enough ether and a number
        </p>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Destinatary</label>
      <p class="control">
        <input [(ngModel)]="recipientAddress" name="recipientAddress" class="input" type="text" placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
          required #recipientAddressModel="ngModel">
      </p>
      <div *ngIf="recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)" class="help is-danger">
        <p [hidden]="!recipientAddressModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)" class="help is-danger">
        <p [hidden]="canBeAddress(recipientAddress)">
          Must be address format
        </p>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Days open</label>
      <p class="control">
        <input [(ngModel)]="daysOpen" name="daysOpen" class="input" type="text" placeholder="30 days" required #daysOpenModel="ngModel">
      </p>
      <div *ngIf="daysOpenModel.errors && (daysOpenModel.dirty || daysOpenModel.touched)" class="help is-danger">
        <p [hidden]="!daysOpenModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!daysOpenModel.errors && (daysOpenModel.dirty || daysOpenModel.touched)" class="help is-danger">
        <p [hidden]="canBeDays(daysOpen)">
          Must be in days format
        </p>
      </div>
    </div>
  
    <div class="field is-grouped">
      <p class="control">
        <button [disabled]="!channelForm.valid" (click)="createChannel()" class="button is-primary">
          Create channel
        </button>
      </p>
    </div>

  </form>
</div>

<hr>

<div class="container" *ngIf="channels != null && channels.length > 0">
  <h1 class="title">Channel Information</h1>

  <div *ngFor="let chann of channels">
    <p>Address: {{chann.address}}</p>
    <p>Near End: {{chann.nearEnd}}</p>
    <p>Far End: {{chann.farEnd}}</p>
    <p>Value: {{chann.value}} Ether</p>
    <p>End date: {{chann.endDate}}</p>
    <p>Accepted: {{chann.accepted}}</p>
    <hr>
  </div>
</div>

<hr>

<div class="container padd" *ngIf="channels != null && channels.length > 0">

  <h1 class="title">Accept channel</h1>
  <h1 class="title is-4 is-info help">{{status_accept}}</h1>

  <form #acceptForm="ngForm">

    <div class="field">
      <label class="label">Channel address</label>
      <p class="control">
        <input [(ngModel)]="channelAddress" name="channelAddress" class="input" type="text" placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
          required #channelAddressModel="ngModel">
      </p>
      <div *ngIf="channelAddressModel.errors && (channelAddressModel.dirty || channelAddressModel.touched)" class="help is-danger">
        <p [hidden]="!channelAddressModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!channelAddressModel.errors && (channelAddressModel.dirty || channelAddressModel.touched)" class="help is-danger">
        <p [hidden]="canBeAddress(channelAddress)">
          Must be address format
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Amount</label>
      <p class="control">
        <input [(ngModel)]="acceptAmount" name="acceptAmount" class="input" type="text" placeholder="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
          required #acceptAmountModel="ngModel">
      </p>
      <div *ngIf="acceptAmountModel.errors && (acceptAmountModel.dirty || acceptAmountModel.touched)" class="help is-danger">
        <p [hidden]="!acceptAmountModel.errors.required">
          This field is required
        </p>
      </div>
      <div *ngIf="!acceptAmountModel.errors && (acceptAmountModel.dirty || acceptAmountModel.touched)" class="help is-danger">
        <p [hidden]="enoughEther(acceptAmount)">
          Must have enough ether and a number
        </p>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button [disabled]="!acceptForm.valid" (click)="acceptChannel()" class="button is-primary">
          Accept channel
        </button>
      </p>

    </div>
  </form>
</div>

<strong>Hint:</strong> open the browser developer console to view any errors and warnings.
