<div class="container">
  <div class="container center" *ngIf="notifications != null && notifications.length > 0">

    <h5 class="title is-4"> Notifications</h5>
    <table>
      <thead>
        <td>
          <b>Origin</b>
        </td>
        <td>
          <b>Message</b>
        </td>
        <td>
          <b>Check</b>
        </td>
      </thead>
      <tbody>
        <tr class="alert " [ngClass]="{'alert-info': notf.parameters == 'info', 'alert-success': notf.parameters == 'success', 'highlighted': selectedNotifications.includes(notf)}" 
          *ngFor="let notf of notifications" (click)="selectNotification(notf)">
          
          <td>
            {{notf.origin}}
          </td>
          <td>
            {{notf.message}}
          </td>
          <td>
            <button (click)="goNotificator(notf)" class="button is-primary"> Check </button>
          </td>
          
        </tr>
      </tbody>
    </table>
    <br>
    <button (click)="selectNotifications()" class="button but is-primary">
      Select all Notifications
    </button>
    <button (click)="deleteNotifications()" [disabled]="selectedNotifications.length == 0" class="button but is-primary">
      Delete selected Notifications
    </button>

  </div>

  <br>

  <div class="container center" *ngIf="errors != null && errors.length > 0">

    <h5 class="title is-4"> Errors/Warnings</h5>

    <table>
      <thead>
        <td>
          <b>Origin</b>
        </td>
        <td>
          <b>Message</b>
        </td>
      </thead>
      <tbody>
        <tr *ngFor="let err of errors" class="alert " [ngClass]="{'alert-warning': err.object == 'warning', 'alert-danger': err.object == 'danger'}"
          [class.highlighted]="selectedErrors.includes(err)" (click)="selectError(err)">
          <td>
            {{err.origin}}
          </td>
          <td>
            {{err.message}}
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <button (click)="selectErrors()" class="button is-primary but">
      Select all Errors
    </button>
    <button (click)="deleteErrors()" [disabled]="selectedErrors.length == 0" class="button is-primary but">
      Delete selected Errors
    </button>

  </div>

  <br>

  <div *ngIf="errors != null && notifications != null && errors.length != 0 && notifications.length != 0">
    <button (click)="selectAll()" class="button is-primary but">
      Select all
    </button>
    <button (click)="deleteAll()" class="button is-primary but">
      Delete all
    </button>
    <button (click)="deleteAllSelected()" [disabled]="selectedErrors.length + selectedNotifications.length == 0" class="button but is-primary">
      Delete all selected
    </button>
  </div>

  <div class="container center" *ngIf="errors != null && notifications != null && errors.length == 0 && notifications.length == 0">
    <p><b>Unfortunately there's nothing new to be checked :(</b></p>
  </div>

  <br>

  <button (click)="goBack()" class="button is-primary">
    Go Root
  </button>
</div>